body {
	text-align: center;
	font-size: 16px;
	font-family: 'futura';
	background-image: url("https://img00.deviantart.net/a92a/i/2011/195/a/9/another_day_in_paradise_by_priteeboy-d3r0849.jpg");
 	color: red;
 	background-size: 100% auto;

}

table {
	margin-left: auto;
	margin-right: auto;

}

#restart {
	font-size: 30px;
	font-family: "futura";
	text-decoration: none;
	color: "red"
}


td {
border: 1px solid red;
height: 200px;
width: 200px;
font-size: 100px;
}

#players {
  margin-left:auto; 
  margin-right:auto;
  padding: 20px 10px 10px 10px;
  width: 80%; 
  text-align: left;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}
.button:hover {

  background: red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.square {
	border-radius: "3"
}




